---
import BaseLayout from '../layouts/BaseLayout.astro';

import ContactCTA from '../components/ContactCTA.astro';
import Hero from '../components/Hero.astro';
---

<BaseLayout title="About | Jean Le Rocher" description="About Jean Le Rocher Lorem Ipsum">
	<div class="stack gap-20">
		<main class="wrapper about">
			<Hero
				title="About me"
				tagline="Thanks for stopping here. Read below to learn more about myself and my background."
			>
			</Hero>

			<section>
				<h2 class="section-title">Background</h2>
				<div class="content">
					<p>
						My first work experience was as Refrigeration technician. This job allowed me to finance my studies, buy me a 
						computer and helped me start my work as a <b>freelance developer</b>. I did translation for an charity association 
						and on some open source projects.
					</p>
					<p>
						My first Job in IT was as a <b>Sys Admin</b> in a little Congolese startup. 
						And for 4 years already I started in computer development. As a <b>consultant</b> I was able to 
						participate to many project in web development and maintenance of backend part of several 
						websites and mobile applications for companies, a ministry, entrepreneurs and some schools.
					</p>
				</div>
			</section>
			<section>
				<h2 class="section-title">Education</h2>
				<div class="content">
					<p>I studied Maintenance and computer network on ISTP. In this formation I learned computer reparation, install and troubleshoot network, English language  and finally I improve my skills in web development with html, css and JavaScript.
						<br>On other side, I took certified training to create applications, scripts and backend with the python programming language.
						In addition, I also trained in the deployment of differents apps mainly in JavaScript with nodejs. This training allowed me to improve my skills in JavaScript and in aws services like lambda, EC2, CloudFront and other.
						<br>If I had to sum all of this, then I would say that I can create many sorts of JavaScript or python applications, test it, manage CI\CD process and deploy it on the cloud.
						Moreover all my studies in IT, when I was in highschool, I learned  Refrigeration and air conditioning, which helped me financially with university.</p>
				</div>
			</section>
			<section>
				<h2 class="section-title">Skills</h2>
				<div class="content">
					<p>
						I can handle 2 programming languages the first JavaScript and the second is Python. I kwow also HTML5 and CSS3.
						With all these languages I can make many sorts of webapps from frontend to backend. I can also test, debug and 
						create a CI/CD process to deploy and host these apps to a Cloud provider. <br>
						In Python, I'm able to create scripts, GUI programs and WebScraping applications. I have also a proficient in 
						the WordPress environment.
					</p>
				</div>
			</section>
		</main>

		<ContactCTA />
	</div>
</BaseLayout>

<style>
	.about {
		display: flex;
		flex-direction: column;
		gap: 3.5rem;
	}

	img {
		margin-top: 1.5rem;
		border-radius: 1.5rem;
		box-shadow: var(--shadow-md);
	}

	section {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		color: var(--gray-200);
	}

	.section-title {
		grid-column-start: 1;
		font-size: var(--text-xl);
		color: var(--gray-0);
	}

	.content {
		grid-column: 2 / 4;
	}

	.content :global(a) {
		text-decoration: 1px solid underline transparent;
		text-underline-offset: 0.25em;
		transition: text-decoration-color var(--theme-transition);
	}

	.content :global(a:hover),
	.content :global(a:focus) {
		text-decoration-color: currentColor;
	}

	@media (min-width: 50em) {
		.about {
			display: grid;
			grid-template-columns: 1fr 60% 1fr;
		}

		.about > :global(:first-child) {
			grid-column-start: 2;
		}

		section {
			display: contents;
			font-size: var(--text-lg);
		}
	}
</style>
