---
import Icon from './Icon.astro';
---

<section class="box skills">
	<div class="stack gap-2 lg:gap-4">
		<Icon icon="developer" color="var(--accent-regular)" size="2.5rem" gradient />
		<h2>Full Stack</h2>
		<p>I can build both the front end and the back end of a website.
			I'm able to design an app, create CI/CD workflows, manipulate databases, host an app to Cloud, etc ...<br>
			I can be very creative and have an excellent attention to details.
		</p>
	</div>
	<div class="stack gap-2 lg:gap-4">
		<Icon icon="hourglass" color="var(--accent-regular)" size="2.5rem" gradient />
		<h2>Experienced Developer</h2>
		<p>
			I have over four years of experience in web devlopment and in that time I have make over nineteen big 
			projects as developer consultant. <br>
			On other side I have worked on twenty six projects, which some of their are publics, privates and open source. <br>
			You will be able to see three of these projects on this website.
		</p>
	</div>
	<div class="stack gap-2 lg:gap-4">
		<Icon icon="strategy" color="var(--accent-regular)" size="2.5rem" gradient />
		<h2>Bilingual</h2>
		<p>
			Even if I am a native french speaker, I'm can also speak fluently english. <br>
			I used this skill as a volunteer traductor for charity associations and for some open sources projects on the Web.
		</p>
	</div>
</section>

<style>
	.box {
		border: 1px solid var(--gray-800);
		border-radius: 0.75rem;
		padding: 1.5rem;
		background-color: var(--gray-999_40);
		box-shadow: var(--shadow-sm);
	}

	.skills {
		display: flex;
		flex-direction: column;
		gap: 3rem;
	}

	.skills h2 {
		font-size: var(--text-lg);
	}

	.skills p {
		color: var(--gray-400);
	}

	@media (min-width: 50em) {
		.box {
			border-radius: 1.5rem;
			padding: 2.5rem;
		}

		.skills {
			display: grid;
			grid-template-columns: repeat(3, 1fr);
			gap: 5rem;
		}

		.skills h2 {
			font-size: var(--text-2xl);
		}
	}
</style>
